{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
    {% block 'head' %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <title>{% block 'titulo' %}{% endblock %}</title>
</head>

<body>
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark bg_navbar">
    <a class="navbar-brand" href="{% url 'home' %}"><img width="40" src="{% static 'autenticacao/img/logo.png' %}">&nbsp
        <h3 class="font_logo">IMOBI</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'agendamentos' %}">Agendamento</a>
            </li>
        </ul>
    </div>
    <div class="">
        <a class="btn btn-primary" href="{% url 'sair' %}" role="button">Sair</a>
    <a/>

</nav>

{% endif %}

{% block 'body' %}{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>